{% extends "atendimento/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'atendimento/style/login.css' %}">
</head>

<body>
    <div class="login-container montserrat-2">
        <div class="logo-container">
            <a href="/">
                <img class="logo" src="{% static 'atendimento/img/LOGO-ismart.png' %}" alt="Logo da Empresa">
            </a>
        </div>
        <h2>Login</h2>
        <form method="POST" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login" class="montserrat-3">
            <a href="{% url 'register' %}" class="text-ism-darker-blue montserrat-2">Registro</a>
            <a href="{% url 'reset_password' %}" class="forgot-password montserrat-2">Esqueci minha senha</a>
        </form>
    </div>
</body>
</html>
{% endblock %}
