{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auxílio Senha</title>
    <link rel="stylesheet" href="{% static 'atendimento/style/password_reset_sent.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="/">
                <img class="logo" src="{% static 'atendimento/img/LOGO-ismart.png' %}" alt="Logo da Empresa">
            </a>
        </div>
    </header>
    <div class="login-container">
        <h3> Senha redefinida com sucesso</h3>

        Sua senha foi redefinida, vc pode ir e logar agora!

        <a href="{% url 'login' %}">Login</a>
    </div>
</body>
{% endblock %}