
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auxílio Senha</title>
    <link rel="stylesheet" href="{% static 'atendimento/style/password_reset_sent.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="/">
                <img class="logo" src="{% static 'atendimento/img/LOGO-ismart.png' %}" alt="Logo da Empresa">
            </a>
        </div>
    </header>
    <div class="login-container montserrat-3 text-ism-darker-blue">
        <h3> Redefinição de senha enviado!
        </h3>
    
        <p class="montserrat-2 text-ism-dark-blue">Enviamos a você um e-mail com instruções para redefinir sua senha. Se existir uma conta com o e-mail que você digitou, você deverá recebê-lo em breve</p>
    
        <p class="montserrat-2 text-ism-dark-blue">Se você não receber um e-mail, certifique-se de inserir o endereço com o qual se registrou e verifique sua pasta de spam</p>
    </div>
</body>
</html>
{% endblock %}
