{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auxílio Senha</title>
    <link rel="stylesheet" href="{% static 'atendimento/style/reset_password.css' %}">
</head>

<body>
    <header class="header">
        <div class="logo-container">
            <a href="/">
                <img class="logo" src="{% static 'atendimento/img/LOGO-ismart.png' %}" alt="Logo da Empresa">
            </a>
        </div>
    </header>
    <div class="login-container">
        <h2>Digite seu endereço de email acossiado à sua conta Ismart</h2>
        <form method="POST" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login" class="montserrat-3">
        </form>
    </div>
</body>
</html>