{% extends "atendimento/base.html" %}

{%load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página Inicial</title>
    <link rel="stylesheet" href="{% static 'atendimento/style/aluno.css' %}">
</head>
<body>
    <header>
        <!-- Logo -->
    </div>
    
    {% if user.is_authenticated %}
    <span> HI {{request.user.username | title}}</span>
    <form method="post" action = "{% url 'logout' %}">
        {% csrf_token %}

        <button type = "submit">Logout</button>
    </form>
    {% endif %}
        <div class ='imagem'>
            <a href="/">
                <img class="logo" src="{% static 'atendimento/img/LOGO-ismart.png' %}" alt="Logo da Empresa">
            </a>
                <img class="user" src="{% static 'atendimento/img/usuario.svg' %}" alt="Ícone do usuário">

    </header>
    
    <div class="blocos">
        <!-- Bloco 1 -->
        <div class="bloco1">
            <div class="block">
                <h1> Edital do processo seletivo</h1>
                <div class="button-container">
                    <button class="botao-tipo1 montserrat-3">Abrir</button>
                    
                </div>
            </div>
        </div>
        <!-- Bloco 2 -->
        <div class="bloco2">
            <div class="block">
                <h1> Tirar dúvida</h1>
                <div class="button-container">
                    <button class="botao-tipo1 montserrat-3">Atendimento</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %} 