{% include "atendimento/side_minhas_conversas.html" %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'atendimento/style/chat_nao_atribuido.css' %}">
</head>
<body>
    <div class="empty-section">
        <div class="header-empty">
            <img src="{% static 'atendimento/img/usuario.svg' %}" alt="Imagem de Exemplo" class="imagem-user">
            <p class="nome-user">{{conversa.usuarios.username}}</p>              
        </div>
        <div class="line"></div>
        <div class="escrever">
            <button>
                <img src="{% static 'atendimento/img/file-solid(1).svg' %}" alt="Imagem de Exemplo" class="imagem-midia">
            </button>

            <form method="post" action="/side_minhas_conversas/sendmsg/{{conversa.usuarios.telefone}}/{{conversa.id}}/">
                <div class="box-escrever">
                    <input type="text" class="input-escrever" placeholder="Escreva uma mensagem..." name="mensagem">
                </div>
                <button type="submit">
                    <img src="{% static 'atendimento/img/circle-arrow-right-solid.svg' %}" alt="Imagem de Exemplo" class="enviar">
                </button>
            </form>

        </div>
    </div>
    <div class="conversas">
        <div class="green-box">
            <p>Mensagem...</p>
        </div>
        <div class="grey-box">
            <p>Resposta...</p>
        </div>
    </div>
</body>
</html>





{% endblock %}