{% extends "atendimento/base.html" %}
{%load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'atendimento/style/chat_nao_atribuido.css' %}">
</head>
<body>
    <header>
        <div class="imagens-header">
            <div class="img1">
                <img src="{% static 'atendimento/img/inbox-solid.svg' %}" alt="Logo 1">
            </div>
            <div class="img2">
                <img src="{% static 'atendimento/img/house-solid.svg' %}" alt="Logo 2">
            </div>
            <div class="img3">
                <img src="{% static 'atendimento/img/calendar-regular.svg' %}" alt="Logo 3">
            </div>
            <div class="img4">
                <img src="{% static 'atendimento/img/chart.svg' %}" alt="Logo 4">
            </div>
            <div class="img5">
                <img src="{% static 'atendimento/img/gear-solid.svg' %}" alt="Logo 5">
            </div>
            <div class="img6">
                <img src="{% static 'atendimento/img/usuario.svg' %}" alt="Logo 6">
            </div>
        </div>
    </header>
    <div class="sidebar">
            <div class ="inbox">
                <p>Inbox</p>
            </div>
    </div>

    <div class="content">
        <!-- Conteúdo da página aqui -->
    </div>
</body>
</html>

{% endblock %}