{% extends "atendimento/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'atendimento/style/colaborador.css' %}">
</head>
<body>
    <div class="top-header">
        <div class="photo-container">
            <img src="{% static 'atendimento/img/hand.png' %}" alt="Foto do Usuário" class="hand">
        </div>
        <div class="text-container">
            <p>Não atribuido</p>
        </div>
        <div class="right-container">
            <botton class="button-container">
                <img src="{% static 'atendimento/img/circle-check.svg' %}" alt="Descrição da imagem">
                <p>Marcar como resolvido</p>
            </botton>
        </div>
    </div>
    <header>
        <div class="imagens-header">
            <div class="img-cima">
                <div class="img1">
                    <button>
                        <img src="{% static 'atendimento/img/inbox-solid.svg' %}" alt="Logo 1">
                    </button>
                </div>
                <div class="img2">
                    <button>
                        <img src="{% static 'atendimento/img/house-solid.svg' %}" alt="Logo 2">
                    </button>
                </div>
                <div class="img3">
                    <button>
                        <img src="{% static 'atendimento/img/chart.svg' %}" alt="Logo 3">
                    </button>
            </div>
        </div>
    </header>
    <div class="sidebar">
        <div class="inbox-header">
            <p>Inbox</p>
            <button>
                <img src="{% static 'atendimento/img/search.svg' %}" alt="Inbox Icon 1" class="inbox-icon">
            </button>
            <button>
                <img src="{% static 'atendimento/img/arrow-up-right-from-square-solid.svg' %}" alt="Inbox Icon 2" class="inbox-icon">
            </button>
        </div>
        <div class="conversa">
            <div class="conversa-header">
                <button>
                    <p>Conversas</p>
                    <img src="{% static 'atendimento/img/angle-up-solid.svg' %}" alt="Conversa Icon 1" class="conversa-icon">
                </button>
            </div>
            <div class="nao_atribuido">
                <button>
                    <img src="{% static 'atendimento/img/hand.png' %}" alt="Conversa Icon 1" class="nao_atribuido-icon">
                    <p>Não atribuido</p>
                    <span class="notification">3</span>
                </button>
            </div>
            <div class="minhas_conversas">
                <button>
                    <img src="{% static 'atendimento/img/correio.png' %}" alt="Conversa Icon 1" class="minhas_conversas-icon">
                    <p>Minhas conversas</p>
                </button>
            </div>
            <div class="resolvidos">
                <button>
                    <img src="{% static 'atendimento/img/checkverde.png' %}" alt="Conversa Icon 1" class="resolvidos-icon">
                    <p>Resolvidos</p>
                </button>
            </div>
        </div>
        <div class="colaboradores">
            <div class="colaboradores-header">
                <button>
                    <p>Colaboradores</p>
                    <img id= "toggle-icon" src="{% static 'atendimento/img/angle-up-solid.svg' %}" alt="Toggle Icon" class="colaboradores-icon">
                </button>
            </div>
            <div class="online">
                <p>Online</p>
                <div class="users">
                    <img src="{% static 'atendimento/img/usuario.svg' %}" alt="colaboradores Icon 1" class="user-imagem">
                    <p> Nome do Usuário</p>
                </div>
            </div>
        </div>
    </div>


    <div class="info-section">
            <div class="info-item">
                <img class="usuario" src="{% static 'atendimento/img/usuario.svg' %}" alt="Imagem 1">
                <img class="mensagem-img" src="{% static 'atendimento/img/email.svg' %}" alt="Imagem 2">
                <div class="texto">
                    <p class="user">Usuário</p>
                    <p class="mensagem">Mensagem...</p>
                </div>
            </div>
        </button>

        <button>
            <div class="info-wpp">
                <img class="usuario" src="{% static 'atendimento/img/usuario.svg' %}" alt="Imagem 1">
                <img class="mensagem-img" src="{% static 'atendimento/img/whatsapp.svg' %}" alt="Imagem 2">
                <div class="texto">
                    <p class="user">Usuário</p>
                    <p class="mensagem">Mensagem...</p>
                </div>
            </div>
            
        </button>
    </div>
    <div class="empty-section">
        <div class="header-empty">
            <img src="{% static 'atendimento/img/usuario.svg' %}" alt="Imagem de Exemplo" class="imagem-user">
            <p class="nome-user">Usuário</p>              
        </div>
        <div class="line"></div>
        <div class="escrever">
            <button>
                <img src="{% static 'atendimento/img/file-solid(1).svg' %}" alt="Imagem de Exemplo" class="imagem-midia">
            </button>
            <div class="box-escrever">
                <input type="text" class="input-escrever" placeholder="Escreva uma mensagem...">
            </div>
            <button>
                <img src="{% static 'atendimento/img/circle-arrow-right-solid.svg' %}" alt="Imagem de Exemplo" class="enviar">
            </button>
        </div>
    </div>
    <div class="conversas">
        <div class="green-box">
            <p>Mensagem...</p>
        </div>
        <div class="grey-box">
            <p>Resposta...</p>
        </div>
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".colaboradores-header button").click(function(){
        $(".online").toggle(); 
    });
});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".conversa-header button").click(function(){
        $(".nao_atribuido, .minhas_conversas, .resolvidos").toggle();
    });
});
</script>




{% endblock %}
