{% extends "atendimento/base.html" %}
{%load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'atendimento/style/style.css' %}">
</head>
<body>
    <header>
        <!-- Logo -->
        <div>
            <a href="/">
                <img class="logo" src="{% static 'atendimento/img/LOGO-ismart.png' %}" alt="Logo da Empresa">
            </a>
        </div>
        <!-- Acessar -->
        <div class="botaoheader_acessar">
            <a href="{% url 'login' %}"><button class="botao-tipo1 montserrat-3">Acessar</button></a>
        </div>
    </header>
    <!-- Background -->
    <img src="{% static 'atendimento\img\esquerdaft.png' %}" class="backgroundindex1" alt="backgroundimage1">
    <img src="{% static 'atendimento\img\direitaft.png' %}" class="backgroundindex2" alt="backgroundimage2">
    <!-- Textos -->
    <div class="textos">
        <!-- Texto 1 -->
        <div class="texto1 montserrat-2 text-ism-dark-blue">
            <a>O Ismart oferece acesso à educação de excelência em programas de modalidade presencial e online, que incluem bolsa de estudos e acompanhamento individual com foco em desenvolvimento acadêmico e pessoal.</a>
        </div>
        <!-- Texto 2 -->
        <div class="texto2 montserrat-3 text-ism-darker-blue">
            <a>Você tem alguma dúvida sobre o processo seletivo? Faça login e entre em contato!</a>
        </div>
    </div>
    <!-- Blocos -->
    <div class="blocos">
        <!-- Bloco 1 -->
        <div class="bloco1 block">
            <div class="block">
                <img src="{% static 'atendimento/img/graduation-pack.d677bbbb.svg' %}" alt="Imagem 1">
                <p class="text-ism-darker-blue montserrat-4">Sou Candidato(a)</p>
                <div class="button-container">
                    <a href="{% url 'login' %}">
                        <button class="botao-tipo1 montserrat-3">Acessar</button>
                    </a>
                    <a href="{% url 'register' %}">
                        <button class="botao-tipo2 montserrat-3">INSCREVA-SE</button>
                    </a>
                </div>
            </div>
        </div>
        <!-- Bloco 2 -->
        <div class="bloco2">
            <div class="block">
                <img src="{% static 'atendimento/img/fingerprint.b56d9789.png' %}" alt="Imagem 2">
                <p class="text-ism-darker-blue montserrat-4">Sou Colaborador(a)</p>
                <div class="button-container">
                    <a href="{% url 'login' %}">
                        <button class="botao-tipo1 montserrat-3">Acessar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %} 