{% extends "atendimento/base.html" %}
{%load static%}
{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa</title>
    <link rel="stylesheet" href="{% static 'atendimento/style/pesquisa.css' %}">
</head>

<body>
    <header>
        <!-- Logo -->
        <div>
            <a href="/">
                <img class="logo" src="{% static 'atendimento/img/LOGO-ismart.png' %}" alt="Logo da Empresa">
            </a>
        </div>
        <!-- Menu -->
        <div class="botaoheader_menu">
            <a href="{% url 'login' %}"><button class="botao-tipo1 montserrat-3">Voltar ao menu</button></a>
        </div>
    </header>
    <div>
        <div class="container">
            <!-- Pergunta para feedback -->
            <div class="pergunta">Como foi a sua experiência?</div>
            <div class="afirmacao">Minha experiência resolvendo minha dúvida foi...</div>
            <div class="content divhr">
                <!-- inputs -->
                <input type="radio" name="rd" id="one" />
                <input type="radio" name="rd" id="five" />
                <!-- Botões dos inputs -->
                <label for="one" class="box first">
                    <div class="opcao">
                    <span class="circle"></span>
                    <span>Boa</span>
                    </div>
                    <span class="desc">5</span>
                </label>
                <img class="feedbackimg" src="{% static 'atendimento\img\feedback5.png' %}" alt="feedback5">
                <label for="five" class="box fifth">
                    <div class="opcao">
                    <span class="circle"></span>
                    <span>Ruim</span>
                    </div>
                    <span class="desc">1</span>
                </label>
                <img class="feedbackimg" src="{% static 'atendimento\img\feedback1.png' %}" alt="feedback1">
            </div>
            <!-- Enviar feedback -->
            <div class="botao_enviar">
                <button class="btn-submit">Enviar feedback</button>
            </div>
        </div>
    </div>
</body>
{% endblock %} 