<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Caixa de Entrada</title>
</head>
<body>
    <h1>Caixa de Entrada</h1>
    {% if emails %}
        <ul>
            {% for email in emails %}
                <li>
                    <strong>De:</strong> {{ email.from }}<br>
                    <strong>Assunto:</strong> {{ email.subject }}<br>
                    <strong>Mensagem:</strong> <pre>{{ email.body }}</pre><br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há novos e-mails.</p>
    {% endif %}
</body>
</html>
