<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <ul>
        {% for conversa in notassigned %}
            <li>
                <form method="POST" action="assign_conversa/{{conversa.id}}/">                    
                    {% csrf_token %}
                    <button type="submit">Assign to me</button>
                </form>
                <form method="post" action='resolve/{{conversa.id}}/'>
                    {% csrf_token %}
                    <input type="submit" value="Resolver conversa">
                </form>
                <form method="post" action="sendmsg/{{conversa.usuarios.telefone}}/{{conversa.id}}/">
                    {% csrf_token %}
                    <textarea name="mensagem" placeholder="Digite sua mensagem"></textarea>
                    <input type="submit" value="Enviar mensagem">
                </form>
                <strong>NOT ASSIGNED {{ conversa.id }}</strong> with {{ conversa.usuarios.username }}
                <ul>
                    {% for mensagem in conversa.mensagens.all %}
                        <li>{{ mensagem.sender }}: {{ mensagem.content }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <ul>
        {% for conversa in yours %}
            <li>
                <form method="post" action="sendmsg/{{conversa.usuarios.telefone}}/{{conversa.id}}/">
                    {% csrf_token %}
                    <textarea name="mensagem" placeholder="Digite sua mensagem"></textarea>
                    <input type="submit" value="Enviar mensagem">
                </form>
                <form method="post" action='resolve/{{conversa.id}}/'>
                    {% csrf_token %}
                    <input type="submit" value="Resolver conversa">
                </form>
                <strong>YOURS {{ conversa.id }}</strong> with {{ conversa.usuarios.username }}
                <ul>
                    {% for mensagem in conversa.mensagens.all %}
                        <li>{{ mensagem.sender }}: {{ mensagem.content }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <ul>
        {% for conversa in resolved %}
            <li>
                <strong>RESOLVED {{ conversa.id }}</strong> with {{ conversa.usuarios.username }}
                <ul>
                    {% for mensagem in conversa.mensagens.all %}
                        <li>{{ mensagem.sender }}: {{ mensagem.content }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>