body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.empty-section {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    width: 100%;
    border-bottom: 10%;
    background-color: white;
    margin-bottom: 10%;
    top: 15%;
    left: calc(280px + 28%);
    position: fixed;
    margin-left: 2%;
    margin-top: 3%;
}
.conversas {
    display: flex;
    flex-direction: column;
    border-bottom: 10%;
    background-color: white;
    margin-bottom: 10%;
    top: 40%;
    left: calc(280px + 28%);
    position: fixed;
    margin-left: 2%;
    margin-bottom: 10%;
    width: 45%;
    height: 33vh;
    overflow-y:auto;
}

.green-box {
    display: block;
    justify-content: flex-start;
    background-color: green;
    border-radius: 10px;
    padding: 1%;
    margin-top: 1%;
    width: auto;
    text-align: left;
    height: auto;
    margin-right: auto;
}

.green-box p {
    color: white;
    margin-top: 1%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.grey-box {
    display: block;
    justify-content: flex-end;
    background-color: grey;
    border-radius: 10px;
    margin-top: 3%;
    padding: 1%;
    margin-left: auto;
    width: auto;
    height: auto;
}

.grey-box p {
    color: white;
    margin-top: 1%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.escrever {
    position: fixed; 
    bottom: 0; 
    width: 45%; 
    background-color: #002561;
    display: flex; 
    justify-content: space-between; 
    padding: 1%; 
}

.imagem-midia {
    order: 1; 
    height: 15px;
    width: 15px;
}

.input-escrever {
    order: 2; 
    background-color: #4091DC;
    color: white;
    width: 100%;
}

.enviar {
    order: 3;
    height: 15px;
    width: 15px;
}

.rotate {
    transform: rotateY(90deg);
}
/* Media Queries */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        margin-top: 0;
    }
    
    header {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .sidebar {
        width: 100vw;
        height: auto;
        position: relative;
        display: flex;
        justify-content: space-around;
        padding: 1vh 0;
        border-right: none;
        border-bottom: 1px solid black;
        
    }

    .top-header {
        width: 100vw;
        left: 0;
    }

    .content {
        margin-left: 0;
        margin-top: 0;
        padding: 20px;
    }

    .info-section {
        width: 100vw;
        left: 0;
        height: auto;
        position: relative;
        top: 0;
        border-left: none;
    }

    .empty-section {
        width: 100vw;
        height: auto;
        padding: 20px;
    }
}