body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #002561;
    color: white;
    width: 80px;
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid black;
    flex-shrink: 0;
    position: fixed; 
    top: 0; 
    bottom: 0;
}

.top-header {
    display: flex;
    align-items: center;
    background-color: #002561;
    color: white;
    padding: 10px;
    position: fixed; 
    top: 0; 
    left: 280px; 
    width: calc(100% - 280px);
    height: 70px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    z-index: 1;
}

.imagens-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.imagens-header img {
    width: 30px;
    height: 30px;
}

.img1 {
    margin-bottom: -80%; 
}
.img2 {
    margin-bottom: -80%; 
}
.img2 {
    margin-top: -500%; 
}
.img3 {
    margin-bottom: -80%; 
}
.img3 {
    margin-top: -500%; 
}
.img4 {
    margin-top: -500%; 
}

.img5 {
    margin-top:100%; 
}
.img5 {
    margin-bottom: -520%;
}

.img6 {
    margin-top: -100%; 
}
.sidebar {
    width: 200px;
    background-color: #002561;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid black;
    position: fixed;
    top: 70px;
    left: 80px;
    bottom: 0;
    overflow-y: auto;
    margin-top: -4%;
}

.inbox-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4091DC;
    font-size: 24px;
}

.inbox-header p {
    margin: 0;
}

.inbox-header img {
    width: 24px;
    height: 24px;
}

.content {
    margin-left: 280px;
    padding: 20px;
    flex: 1;
    margin-top: 70px;
    overflow-y: auto;
}

.conversa-header button {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
}
.conversa-icon{
    width: 15%;
    height: 15%;
    margin-left: 10%;
}

.conversa {
    gap: 0;
    color: white;
    font-size: 18px;
}

.nao_atribuido button, .minhas_conversas button, .resolvidos button {
    display: flex;
    align-items: center;
    gap: 5%;
    color: white;
    font-size: 15px;
    padding-left: 8%;
    margin-top: -5%;
    white-space: nowrap;
}

.nao_atribuido-icon, .minhas_conversas-icon, .resolvidos-icon {
    width: 20px;
    height: 20px;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.colaboradores-header button{
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
}
.colaboradores-icon {
    width: 15%;
    height: 15%;
    margin-left: 10%;
}

.colaboradores {
    gap: 0;
    color: white;
    font-size: 18px;
}

.online p {
    font-size: 15px;
    margin-left: 5%;
    margin-top: auto;
}

.hand {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.text-container {
    font-size: 24px;
    font-weight: bold;
}

.users {
    display: flex;
    align-items: center;
}

.users p {
    font-size: 15px;
    margin-left: 5%;
    margin-top: 10%;
}

.users img {
    width: 22px;
    height: 22px;
    margin-right: 5%;
}

.info-section {
    background-color: #002561;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    width: 28%;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    left: 280px;
    box-sizing: border-box;
    border-left: 1px solid black;
}

.info-item {
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 2%;
    width: 90%;
    margin-top: 5%;
}

.usuario {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.mensagem-img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 12px;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user {
    color: #4091DC;
    font-size: 17px;
    text-align: left;
    margin-top: -5px;
    margin-left: 10px;
}

.mensagem {
    color: white;
    font-size: 12px;
    text-align: left;
    margin-top: -9px;
    margin-left: 10px;
}

.empty-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 58vw;
    height: 32vh;
    padding-top: 10%;
    background-color: white;
}

.imagem-user {
    width: 40px;
    height: auto;
    margin-right: 20px;
}

.nome-user {
    font-size: 20px;
    margin-left: 20px;
    color: #4091DC;
    margin-bottom: 13px;
}

.linha {
    border-bottom: 1px solid #002561;
    width: 100%;
    height: 2px;
}

.horizontaldiv {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        margin-top: 0;
    }

    header {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .sidebar {
        width: 100vw;
        height: auto;
        position: relative;
        display: flex;
        justify-content: space-around;
        padding: 1vh 0;
        border-right: none;
        border-bottom: 1px solid black;
        
    }

    .top-header {
        width: 100vw;
        left: 0;
    }

    .content {
        margin-left: 0;
        margin-top: 0;
        padding: 20px;
    }

    .info-section {
        width: 100vw;
        left: 0;
        height: auto;
        position: relative;
        top: 0;
        border-left: none;
    }

    .empty-section {
        width: 100vw;
        height: auto;
        padding: 20px;
    }
}
