body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    width: 100px; 
    height: 100px;
}

.botaoheader_acessar {
    text-align: right;
    margin-right: 30px;
    
}

    

.btn-top-right {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

section {
    margin-top: 400px; /* Adjust this value as needed */
    text-align: center;
}


.btn-center {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.question-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f9f9f9; /* Cor de fundo para destacar o bloco */
    padding: 20px;
    border-radius: 10px;
}

.question-block h2 {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-group button {
    margin-bottom: 10px;
}

section {
    position: relative; /* Garante que o botão "Ser Atendido" não se sobreponha ao bloco de perguntas */
    margin-top: 435px; /* Espaço entre o bloco de perguntas e o botão "Ser Atendido" */
    text-align: center;
}

